/* @import url("https://fronts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap") */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "ColfaxAI",-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
	width: 420px;
}

img {
	width: 80%;
	padding-left: 0%;
	padding-right: 0%;
}

button {
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 10%;
	width: 100%;
	height: 40px;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	border-color: rgb(233, 22, 22);
	background-color: rgb(233, 22, 22);
	color: #fff;
	cursor: pointer;
}
button:hover {
	border-color: rgb(190, 16, 16);
	background-color: rgb(190, 16, 16);
}
button:active {
	border-color: rgb(233, 22, 22);
	background-color: rgb(233, 22, 22);
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 10px 0;
}

.input-box i {
	position: absolute;
	right: 0px;
	padding: 15px;
}

.input-box input {
	margin-bottom: 5px;
	text-indent:5%;
	width: 100%;
	height: 100%;
	font-size: 100%;
	border: none;
	outline: none;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
	border-color: #c2c8d0;
}

.input-box input:focus {
  border-color: rgb(199, 21, 63); 
}